/* add css styles here (optional) */

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.pane {
  overflow: hidden;
  position: absolute;
  min-height: 20px;
}

.corner {
  width: 20px;
  height: 20px;
  position: absolute;
  transform: rotate(45deg);
  cursor: crosshair;

  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.9),
    transparent,
    transparent,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.9),
    transparent,
    transparent,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.9),
    transparent,
    transparent,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.9),
    transparent,
    transparent,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.9),
    transparent,
    transparent,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.9)
  );
}

.rt {
  right: -10px;
  top: -10px;
}

.lb {
  left: -10px;
  bottom: -10px;
}

